body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.side-container {
	width: 20vw;
	height: 100vw;
	background-color: gray;
	border-radius: 5vw;
	display: flex;
	text-align: center;
	flex-direction: column;
}

.center-container {
	width: 50vw;
	height: 100vw;
	background-color: pink;
	border-radius: 5vw;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.item-container {
	width: 40vw;
	height: 10vw;
	margin: 0vw 1vw 5vw 5vw;
	padding: 1vw 1vw 1vw 1vw;
	background-color: orange;
	border-radius: 1vw;
	box-shadow: 10px 10px 10px black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.item-container p1{
	font-size: 3vw;
}
#search {
	width: 30vw;
}
