body {
  background: url(http://media.washtimes.com.s3.amazonaws.com/media/image/2015/10/30/tgv_high-speed_train_crossing_viaduct.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  background: transparent;
  margin: auto;
  position: relative;
  height: 800px;
  width: 1200px;
}
#menu ul {
  margin:0;
  padding:0;
  list-style-type:none;
  text-align:center;
  font-family: fantasy;
  font-size: 30px;
}
#menu li {
  float: left;
  margin: auto;
  padding: 0;
  background-color: transparent;
}
#menu li a {
  display: block;
  width: 300px;
  color: white;
  text-decoration: none;
  padding: 5px;
}
#menu li a:hover {
  color: yellow;
}
#menu ul li ul {
  display: none;
}
#menu ul li:hover ul {
  display: block;
}
#menu li:hover ul li {
  float: none;
}