body {
	background-color: #505050
}
.content {
	background: #505050;
	height: 870px;
	width: 1400px;
	margin: auto;
	border-radius: 15px;
	position: relative;
}

.top {
	background: #909090;
	height: 119px;
	width: 1400px;
	margin: auto;
	position: relative;
	border-radius: 15px;
	box-shadow: 5px 10px 10px
}
.close {
	position: absolute;
	right: 5px;
	bottom: 5px;
}
.reload {
	position: absolute;
 	max-width: 19%;
	max-height: 19%;
	right: 5px;
	top: 5px;
}
.loupe {
	position: absolute;
	right: 20px;
 	max-width: 110%;
	max-height: 110%;
}
.day42 {
 	border-radius: 15px;
 	position: absolute;
 	max-width: 100%;
	max-height: 100%;
}
.bottom {
	background: #505050;
	height: 1000px;
	width: 1400px;
	position: absolute;
	top: 140px;
}
.cluster-frame {
	background: #909090;
	border-radius: 15px;
	height: 570px;
	width: 950px;
	margin: auto;
	position: relative;
	box-shadow: 5px 10px 10px
}
.ikea {
	background: transparent;
	height: 200px;
	width: 150px;
	position: absolute;
	bottom: 25px;
	left: 300px;
}
.apple {
	background: transparent;
	height: 180px;
	width: 190px;
	position: absolute;
	bottom: 80px;
	right: 20px;
}
.cluster {
	height: 550px;
	width: 930px;
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
}
.left-frame {
	background: #909090;
	border-radius: 15px;
	height: 490px;
	width: 190px;
	position: absolute;
	top: 0;
	left: 15px;
	box-shadow: 5px 10px 10px;
}
.arrow {
 	
 	max-width: 47%;
	max-height: 47%;
	position: absolute;
	left: 53px;
	top: 10px;
	display: block Advance;
}
.main {
 	max-width: 50%;
	max-height: 50%;
	position: absolute;
	left: 50px;
	top: 105px;
}
.oeil {
	position: absolute;
	left: 63px;
	top: 210px;
}
.outil {
 	max-width: 44%;
	max-height: 44%;
	position: absolute;
	left: 60px;
	top: 290px;
}
.chat-icon {
 	max-width: 44%;
	max-height: 44%;
	position: absolute;
	left: 60px;
	top: 390px;
}
.right-frame {
	background: #909090;
	border-radius: 15px;
	height: 490px;
	width: 190px;
	position: absolute;
	top: 0;
	right: 15px;
	box-shadow: 5px 10px 10px;
}
.book {
 	max-width: 55%;
	max-height: 55%;
	position: absolute;
	right: 40px;
	top: 10px;
}
.towel {
	max-width: 65%;
	max-height: 65%;
	position: absolute;
	right: 32px;
	top: 150px;
}
h6 {
	background: url(resources/brick.jpg);
	width: 160px;
	height: 120px;
	position: absolute;
	right: 15px;
	top: 250px;
}
.brick1 {
	position: absolute;
	right: 15px;
	top: 250px;
}
.message {
	background-color: #88FF89;
	box-shadow: 5px 10px 10px;
	border-radius: 15px;
	height: 250px;
	width: 600px;
	position: absolute;
	left: -100px;
	bottom: 0;
}
p {
	word-spacing: 6pt;
	font-family: sans-serif;
	position: absolute;
	left: 10px;
}
h5 {
	width: 200px;
}
p1 {
	font-style: italic;
}
word1 {
	font-size: 36pt;
	font-family: serif;
}
word2 {
	text-shadow: 5px 5px 2px;
}
.form {
	display: inline;
	font-size: 23px;
	position: absolute;
	bottom: 110px;
	left: 10px;
}

input {
	display: inline;
}