h1 {text-align: center;
      color: white;
      padding-top: 20px}
td {
      height: auto;
    }
    .atom {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 118px;
      width: 130px;
      border: 1px solid black;
    }
    .atomic_weight {
      
      margin: 4%;
      text-align: right;
      font-size: 1.2vmin;
      margin-right: 5%;
    }
    .atom_symbol {
      position: inherit;
      text-align: center;
      font-size: 3vmin;
    }
    .atom_order {
      position: inherit;
      margin-left: 5%;
      text-align: left;
      font-size: 1.2vmin;
      bottom: 10%;
    }

    @media (max-width: 2470px) {
      .atom {
        width: 120px;
      }
    }
    @media (max-width: 2290px) {
      .atom {
        width: 110px;
      }
    }
    @media (max-width: 2110px) {
      .atom {
        width: 100px;
      }
    }
    @media (max-width: 1930px) {
      .atom {
        width: 90px;
      }
    }
    @media (max-width: 1750px) {
      .atom {
        width: 80px;
      }
    }
    @media (max-width: 1560px) {
      .atom {
        width: 70px;
      }
    }
    @media (max-width: 1380px) {
      .atom {
        width: 60px;
      }
      .atomic_weight {
        font-size: 15px;
      }
      .atom_symbol {
      font-size: 30px;
    }
    .atom_order {
      font-size: 15px;
    }
     @media (max-height: 1248px) {
      .atom {
        height: 108px;
      }
    }
    @media (max-height: 1158px) {
      .atom {
        height: 100px;
      }
    }
    @media (max-height: 1078px) {
      .atom {
        height: 90px;
      }
    }
    @media (max-height: 982px) {
      .atom {
        height: 80px;
      }
    }
    @media (max-height: 890px) {
      .atom {
        height: 70px;
      }
      .atomic_weight {
        font-size: 10px;
      }
      .atom_symbol {
      font-size: 26px;
    }
    .atom_order {
      font-size: 10px;
    }
    }
    @media (max-height: 780px) {
      .atom {
        height: 60px;
      }
      .atomic_weight {
        font-size: 9px;
      }
      .atom_symbol {
      font-size: 23px;
    }
    .atom_order {
      font-size: 9px;
    }
    }